<footer>
    <br/>
    <br/>
    <h2>Guide</h2>
    <ul>
      <li>Find Usernames <a href="https://reqres.in/api/users" target="_blank">here</a></li>
      <li>Password can be anything but blank.</li>
      <li>Incorrect Username/Empty Password will return validation error.</li>
      <li>Mock API used- <a href="https://reqres.in/" target="_blank">REQ | RES</a></li>
      <li>Source code <a href="https://github.com/itsnaveenvijayan/naveen-learning-angular.git" target="_blank">here</a></li>
    </ul>   
  
  </footer>